@font-face {
    font-family: 'detailfont';  /* project id 2114582 */
    src: url('//at.alicdn.com/t/font_2114582_2owghwlfuu3.eot');
    src: url('//at.alicdn.com/t/font_2114582_2owghwlfuu3.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2114582_2owghwlfuu3.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2114582_2owghwlfuu3.woff') format('woff'),
    url('//at.alicdn.com/t/font_2114582_2owghwlfuu3.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2114582_2owghwlfuu3.svg#iconfont') format('svg');
}